@import '../../_styles/templates'
@import '../../_styles/vars'

.userList

    &-list
        width: 100%
        height: 90%
        @include board()

        article
            color: #000000
            margin: 25px 20px

    &-pager
        height: 10%
