@import '../../_styles/vars'

.mainHeader
    background-color: $background-accent
    width: 100%
    display: flex
    justify-content: space-between

    > img
        margin: 20px
        width: 120px
        height: 80px

    div, nav
        display: flex
        align-items: center