@import '../../_styles/templates'

.userPage
    display: flex

    hr
        margin: 0 20px

    &-left
        display: flex
        flex-flow: column nowrap
        width: 40%

        img
            width: 186px

        h3
            font-size: 16px
            margin: 20px 0 20px 0

        p
            margin: 0

    &-right
        display: flex
        flex-direction: column
        width: 60%

        &-tasks
            width: 100%
            @include board()
            
            .taskListItem-name
                justify-content: flex-start